In [1]:
a=4
b=9
print(a+b)
print(a-b)
print(a*b)
print(a/b)

13
-5
36
0.4444444444444444

In [17]:
a=int(input())
b=int(input())
print(a+b)
print(a-b)
print(a*b)
print(a/b)

3
3
6
0
9
1.0

## calender

In [13]:
import calendar
year=int(input())
month=int(input())
c=calendar.month(year,month)
print(c)

1998
6
     June 1998
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

# factorial

In [21]:
num=int(input())
f=1
for i in range(1,num+1):
    f=f*i
print("",f)

6
 720

# printing|

In [30]:
x=["surapareddy","thota","vipparla","vaka"]
y=["eti","g","gtg"]
for i in x:
    for j in y:
        print(i,j)

surapareddy eti
surapareddy g
surapareddy gtg
thota eti
thota g
thota gtg
vipparla eti
vipparla g
vipparla gtg
vaka eti
vaka g
vaka gtg

# function

In [41]:
def add(x,y):
    c=x+y
    return c
def sub(x,y):
    c=x-y
    return c
def mul(x,y):
    c=x*y
    return c
a=int(input("enter value "))
b=int(input("enter value "))
print(add(a,b))
print(sub(a,b))
print(mul(a,b))

enter value 2
enter value 4
6
-2
8

# tables

In [45]:
n=int(input("which table u want"))
r=int(input("max value in table"))
for i in range(1,r+1):
    t=n*i
    print(n,"*",i,"=",t)

which table u want2
max value in table2
2 * 1 = 2
2 * 2 = 4

In [49]:
def even(a):
    if a%2==0:
        print("even")
    else:
        print("odd")
n=int(input())
even(n)

33
odd